
body{
	background:#fff;
	font-family: 'Lato-Regular';
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
@font-face {
    font-family: 'Celtic';
    src:url(../fonts/CELTG___.TTF) format('truetype');
}
@font-face {
    font-family: 'Muli-Regular';
    src:url(../fonts/Muli-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src:url(../fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'BreeSerif-Regular';
    src:url(../fonts/BreeSerif-Regular.ttf) format('truetype');
}
/*--starts-logo--*/
.logo {
    text-align: center;
    padding: 25px 0 20px 0px;
    border-bottom: 1px solid #DEDEDE;
}
.logo a h1 {
    font-size: 32px;
    color: #000000;
    margin: 0;
    font-family: 'Celtic';
	display: inline-block;
}
.logo a:hover{
	text-decoration:none;
}
/*--end-logo--*/
/*--starts-top-header--*/
.top-header {
    background: #507642;
    padding: 10px 0px;
}
.search-bar input[type="text"] {
	width: 100%;
	padding: 8px 45px 8px 8px;
	border: 1px solid #F5F5F5;
	background: none;
	outline: none;
	-webkit-appearance: none;
	color: rgba(0, 0, 0, 0.74);
	font-size: 0.875em;
	font-family: 'Lato', sans-serif;
	position: relative;
}
.search-bar input[type="submit"] {
    background: url(../images/search.png)no-repeat 0px 0px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 9px;
    right: 10%;
}
.search-bar {
    width: 93%;
    float: right;
}
/*----*/
.itemContainer{
			width:100%;
			float:left;
		}

		.itemContainer div{
			float:left;
			margin: 5px 20px 5px 20px ;
		}

		.itemContainer a{
			text-decoration:none;
		}

		.cartHeaders{
			width:100%;
			float:left;
		}

		.cartHeaders div{
			float:left;
			margin: 5px 20px 5px 20px ;
		}
.item_add {
	color: #fff;
	border:none;
}
.grid_1 img{
	margin-bottom:1em;
}
.box_1 {
	float: right;
}
.box_1 h3 {
	color: #702428 !important;
	font-size: 1em;
	font-weight: 700;
	margin: 0;
}
.drop {
    margin-top: 10px;
}
a.simpleCart_empty {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
span.simpleCart_total {
    font-size: 13px;
}
.box_1 p {
	margin: 0px 0 0px 8px;
}
.total {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}
.cart box_1 a:hover{
	text-decoration:none;
}
.box_1 a img {
	margin: 3px 0 0 10px;
}
/*----*/
.box {
    float: left;
    width: 11%;
    margin-right: 10%;
}
.box1{
	float:left;
	width:20.5%;
}
.cssmenu ul{
	float:right;
	padding:0;
	margin:0;
	list-style:none;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color:#fff;
	display: block;
	margin:10px;
	font-size: 0.8125em;
}
.cssmenu li> a:hover {
	color: #ACEAFA;
	text-decoration:none;
}
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown .scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
.dropdown{
	position: relative;
	width:75px;
	cursor: pointer;
	font-weight: 200;
	background: none;
	padding: 0;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.dropdown.open{
	z-index: 2;
}
.dropdown:hover,
.dropdown.focus{
	/*--background:#F7F7F7;--*/
}
/* CARAT */
.dropdown .carat,
.dropdown .carat:after{
	position: absolute;
	right:0px;
	top: 50%;
	margin-top:0px;
	border: 4px solid transparent;
	border-top: 4px solid #fff;
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}
.dropdown:hover .carat:after{
	border-top-color: #556b2f;
}
.dropdown.focus .carat{
	border-top-color: #556b2f;
}
.dropdown.focus .carat:after{
	border-top-color: #556b2f;
}
.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* OLD SELECT (HIDDEN) */
.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.dropdown.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */
.dropdown .selected, .dropdown li {
    color: #000;
}
.dropdown .selected, .dropdown li {
    display: block;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}
 .dropdown li {
    color: #fff;
}
.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}
/* DROP DOWN WRAPPER */
.dropdown div{
	position: absolute;
	height: 0;
	left: 13px;
	right: 0;
	top: 36px;
	background: #556b2f;
	overflow: hidden;
	opacity: 0;
	color: #fff;
	width: 90px;
}
.dropdown:hover div{
	background:#4CB1CA;
}
/* Height is adjusted by JS on open */
.dropdown.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

.header-bottom {
    padding: 18px 0px;
}
/*--end-bottom-header--*/

/*--about-starts--*/
.about {
    padding: 5em 0px 4em 0px;
}
.about-left img{
	width:100%;
}
.about-left figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.about-left figure img {
	position: relative;
	display: block;
}
.features-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.about-left figure figcaption::before,
.fcol1 figure figcaption::after {
	pointer-events: none;
}
.about-left figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	background: rgba(85,	107,	47, 0.85);
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1);
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}
figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4,figure.effect-bubba h2 {
	padding-top: 22%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
	color:#fff;
	font-size: 1.8em;
    font-family: 'BreeSerif-Regular';
}
figure.effect-bubba h4.gal {
	padding-top: 21%;
}
figure.effect-bubba p {
	padding: 0px 3.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	-moz-transform: translate3d(0,20px,0);
	-o-transform: translate3d(0,20px,0);
	-ms-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	color:#fff;
	font-size: 1em;
	font-family: 'Lato-Regular';
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
figure.effect-bubba:hover h4,
figure.effect-bubba:hover p,figure.effect-bubba:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*--about-end--*/
/*--product-starts--*/
.product-left {
    text-align: center;

}
.product-main {
    padding: 1em 0px 2.7em 0px;
    border:1px solid #ECEAEA;
}
.product {
    padding: 3em 0px 6em 0px;
}
.product-bottom h3 {
    font-size: 16px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
	font-family: 'BreeSerif-Regular';
}
.product-bottom h4 span{
    font-size: 17px;
    color: #000;
    margin: 5px 0 0 0;
    font-family: 'BreeSerif-Regular';
}
.product-bottom h4 i {
    background: url(../images/cart-2.png) no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.product-left:hover .product-bottom h4 i{
	background: url(../images/cart-3.png) no-repeat;
}
.product-bottom {
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
}
.product-bottom p {
	font-size: 12px;
    color: #999;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}
.product-one:nth-child(2){
	margin-top:30px;
}
img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
	margin: 0 auto;
}
.product-left:hover img.zoom-img{
    -webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 700ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 700ms;
    overflow: hidden;
	cursor:pointer;
}
a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 12px 0px;
}
.product-left:hover .product-bottom h3{
	color:#556b2f;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-bottom h4 span{
	color:#556b2f;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-main{
	border:1px solid #556b2f;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .srch{
	display:block;
}
.srch {
    display: none;
    position: absolute;
    top: 18%;
    left: 16px;
}
.srch span {
    background: #556b2f;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 25px;
}
/*--product-end--*/
/*--information-starts--*/
.infor-left h3 {
    font-size: 1.5em;
    color: #000;
    margin: 0 0 0 0;
    font-family: 'BreeSerif-Regular';
}
.infor-left ul li a span {
    background: url(../images/s-icons.png) no-repeat;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}
.infor-left ul li a span:hover {
	transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}
.infor-left ul li a span.fb{
	background-position:0px 0px;
}
.infor-left ul li a span.twit{
	background-position:-34px 0px;
}
.infor-left ul li a span.google{
	background-position:-68px 0px;
}
.infor-left ul {
    padding: 0;
    margin: 25px 0 0 0;
}
.infor-left ul li{
	display:block;
	list-style:none;
	margin-top:10px;
}
.infor-left ul li:nth-child(1){
	margin-top:0;
}
.infor-left ul li a h6 {
    color: #999;
    font-size: 13px;
    font-family: 'BreeSerif-Regular';
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.infor-left ul li a h6:hover{
	color:#556b2f;
}
.infor-left ul li a p {
    color: #999;
    font-size: 13px;
    margin: 0;
}
.infor-left ul li a p:hover{
	color:#556b2f;
}
.infor-left ul li a:hover{
	text-decoration:none;
}
.infor-left h4 {
    color: #999;
    font-size: 13px;
    margin: 20px 0 0 0;
}
.infor-left h4 span {
    display: block;
    margin: 7px 0;
}
.infor-left h5 {
    font-size: 15px;
    color: #999;
    margin: 19px 0 0 0;
}
.infor-left p a {
    font-size: 13px;
    color: #999;
}
.infor-left p a:hover{
	color: #556b2f;
	text-decoration:none;
}
.infor-left p {
    margin: 6px 0 0 0;
}
.infor-top {
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 3em;
}
/*--information-end--*/
/*--footer-starts--*/
.footer-left p{
	color:#000;
	font-size:15px;
}
.footer-left p a{
	color:#000;
}
.footer-left input[type="text"] {
    width: 47%;
    margin-right: 10px;
    color: #000;
    font-size: 11px;
    background: none;
    padding: 8px 10px;
    outline: none;
    border: none;
    border: 1px solid #000;
}
.footer-left input[type=submit] {
    color: #000;
    padding: 6px 20px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #000;
    background: none;
    outline: none;
}
.footer-left input[type=submit]:hover{
    background: #556b2f;
	color:#fff;
	border: 1px solid #556b2f;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.footer{
	padding:3em 0px;
}
.footer-right {
    text-align: right;
}
.footer-right p {
    margin: 8px 0 0 0;
    font-size: 13px;
    color: #000;
}
.footer-right p a{
	color: #000;
}
.footer-right p a:hover{
	color: #556b2f;
	text-decoration:none;
}
/*--footer-end--*/
